@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');

.btn-unete {
    height: 44px;
	width: 208px;
	border: 2px solid rgb(250, 235, 223);
    border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
    background-color: rgb(0,0,0,0);
    font-family: Ubuntu, sans-serif;
	font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
    justify-content: center;
}

.btn-unete:hover {
    background-color: #D56810;
    border: 2px solid #D56810;
}

a.nav3-link-a {
    font-family: Lato, sans-serif;
	font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    box-sizing: content-box;
    text-transform: uppercase;
    width: 20%;
    text-decoration: none;
    color: #E7E9EF;
}

div.nav3-link-container {
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

div.nav3-link-container:hover {
    border-bottom: 3px solid #ebb487;
    color: #ebb487;
}

div.index-head {
    text-align: left;
}

h1.section-header {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 36px;
    color: #13235b;
}

h1.main-header {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 48px;
    color: #585a5a;
}

h2.bajada {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #b1b3b4;
}

p.desc-text {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333333;
}

p.specialText2 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #333333;
}

p.footer1 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #F7F7F8;
}

p.footer2 {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    color: #F7F7F8;
}

h3.titulo {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #ebb487;
}

h3.dato {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #d6670f;
}

div.fact-card {
    background-color: #F7F7F8;
    border-radius: 15px;
}

div.separador {
    margin: 40px 0px;
    border: 1px solid;
    border-color: #CED4DA;
    height: 2px;
    box-sizing: border-box;
}

.menu-pais-link {
    text-decoration: none;
}

.custom-range {
    width: 100%;
  }

  .custom-range::-moz-range-thumb {
    background-color: #007bff; /* Color del pulgar (thumb) en Firefox */
  }

  .custom-range::-webkit-slider-thumb {
    background-color: #007bff; /* Color del pulgar (thumb) en WebKit/Blink */
  }

  .custom-range::-ms-thumb {
    background-color: #007bff; /* Color del pulgar (thumb) en IE/Edge */
  }

  .tick-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  #arrow_up {
    display: none; /* Ocultar el botón inicialmente */
    position: fixed;
    bottom: 20px; /* Distancia desde abajo */
    right: 20px; /* Distancia desde la derecha */
    z-index: 99; /* Asegurarse de que esté por encima de otros elementos */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    background-color: #f1f1f1;
    color: black;
    border: none;
    border-radius: 50%;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow_up img {
    width: 30px;
    height: 30px;
    margin: -3px;
}

#arrow_up:hover {
    background-color: #ddd; /* Cambiar el color de fondo al pasar sobre el botón */
}