<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Stats</title>
    <link rel="stylesheet" id="custom_css_style" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" id="google-fonts-1-css"
        href="https://fonts.googleapis.com/css?family=Lato%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CUbuntu%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CWork+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.3.2"
        media="all">
    <link id="bootstrap" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='img/cropped-favicon-270x270.png')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <section id="navbar-section">
        <nav id="navbar1" class="navbar navbar-expand-lg" style="background-color: #FBF0E7;
            height: 52.7031px;">
        </nav>
        <nav id="navbar2" class="navbar navbar-expand-sm" style="background-color: #13235B;
        min-height: 80px;">
            <div class="container" style="justify-content: center;">
                <a class="navbar-brand" href="https://www.datasur.com/">
                    <img src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Logo de la empresa Datasur"
                        height="47.5625" width="162px">
                </a>
            </div>
            <div class="container" style="justify-content: center;">
                <a href="https://www.datasur.com/contacto/">
                    <button type="button" class="btn-unete">
                        <div style="align-items: center; justify-content: center;">
                            <span style="height: 16px; width: 16px;">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    aria-hidden="true" role="img" loading_state="[object Object]"
                                    class="iconify iconify--heroicons-solid" width="21" height="21"
                                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20" style="color: white;">
                                    <path fill="currentColor"
                                        d="M8 9a3 3 0 1 0 0-6a3 3 0 0 0 0 6Zm0 2a6 6 0 0 1 6 6H2a6 6 0 0 1 6-6Zm8-4a1 1 0 1 0-2 0v1h-1a1 1 0 1 0 0 2h1v1a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1V7Z">
                                    </path>
                                </svg>
                            </span>
                            <span style="color: white;">Unete a Datasur</span>
                        </div>

                    </button>
                </a>

            </div>
        </nav>
        <nav id="navbar3" class="navbar navbar-expand-md" style="background-color: #2B396B;
        height: 50px;">
            <div class="container-fluid" style="justify-content: center;">
                <a class="nav3-link-a" href="{{url_for('dstats.index')}}">
                    <div class="nav3-link-container">Home</div>
                </a>
                <a class="nav3-link-a" href="{{url_for('dstats.index')}}#seccion_perfil">
                    <div class="nav3-link-container">Perfiles pais</div>
                </a>
                <a class="nav3-link-a" href="{{url_for('dstats.index')}}#seccion_markets">
                    <div class="nav3-link-container">Markets</div>
                </a>
                </a>
                <a class="nav3-link-a" href="https://www.datasur.com/contacto/">
                    <div class="nav3-link-container">Contacto</div>
                </a>
            </div>
        </nav>
    </section>
    <div id="content_block">
        {% block content %}
        {% endblock %}
    </div>

    <section id="footer-section">
        <div style="height:400px; background-color:#13235B;"></div>
    </section>

    <script id="bootstrap" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>