{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="container">
    <div id="indexHeader" class="align-items-center justify-content-center row"
        style="padding-top: 40px; padding-bottom: 40px;">
        <div class="col-auto">
            <h1 class="main-header">D-Stats</h1>
        </div>
        <div class="index-head col-5">
            <h2 class="bajada">Estadísticas del comercio mundial</h2>
            <p class="desc-text">A continuación puedes conocer las principales estadísticas del comercio mundial.
                Si deseas más detalles puedes ingresar al perfil de cada país y explorar los datos de
                sus principales productos y socios comerciales.</p>
        </div>
    </div>

</div>

{% endblock %}